/* CSS Reset */
* {
  box-sizing: border-box;
  border: 0;
  color: #404040;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
/* Utility Classes */
:root {
  --color-blue: #29ADFF;
  --color-red: #EA1D23;
  --color-green: #00A347;
  --color-yellow: #DABC0F;
  --color-white: #FFF;
  --color-grey: #A8A9A8;
  --color-222: #222;
  --color-btn-gradient-start: #5adaff;
  --color-btn-gradient-end: #5468ff;
  --color-btn-boxshadow: #3c4fe0;
  --bgcolor-blue: #2c3e50;
  --bgcolor-off-white: #DFDBE5;
  --bgcolor-black: #000;
}
.protest-guerrilla-regular {
  font-family: "Protest Guerrilla", serif;
  font-weight: 400;
  font-style: normal;
}
.p-0 {
  padding: 0 !important;
}
.p-10 {
  padding: 10px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-40 {
  padding: 40px !important;
}
.p-l10 {
  padding-left: 10px !important;
}
.p-l20 {
  padding-left: 20px !important;
}
.p-r10 {
  padding-right: 10px !important;
}
.p-r20 {
  padding-right: 20px !important;
}
.font-l {
  font-size: 16px !important;
}
.font-xl {
  font-size: 32px !important;
}
.font-xxl {
  font-size: 48px !important;
}
.font-w-b {
  font-weight: bold;
}
.m-t10 {
  margin-top: 10px !important;
}
.m-t20 {
  margin-top: 20px !important;
}
.m-t40 {
  margin-top: 40px !important;
}
.m-r5 {
  margin-right: 5px !important;
}
.m-r10 {
  margin-right: 10px !important;
}
.m-r20 {
  margin-right: 20px !important;
}
.m-r40 {
  margin-right: 40px !important;
}
.m-b10 {
  margin-bottom: 10px !important;
}
.m-b20 {
  margin-bottom: 20px !important;
}
.m-b30 {
  margin-bottom: 30px !important;
}
.m-b40 {
  margin-bottom: 40px !important;
}
.m-l5 {
  margin-left: 5px !important;
}
.m-l10 {
  margin-left: 10px !important;
}
.m-l20 {
  margin-left: 20px !important;
}
.br-5 {
  border-radius: 5px !important;
}
.br-round {
  border-radius: 50% !important;
}
.relative {
  position: relative;
}
.d-flex {
  display: flex;
}
.d-flex-wrap {
  flex-wrap: wrap;
}
.d-flex-auto {
  flex: 1;
}
.d-flex-half {
  flex: 0.5;
}
.d-flex-8 {
  flex: 0.8;
}
.d-flex-9 {
  flex: 0.9;
}
.d-column {
  flex-direction: column;
}
.d-x-center {
  justify-content: center;
}
.d-y-center {
  align-items: center;
}
.d-x-space-between {
  justify-content: space-between;
}
.d-x-space-around {
  justify-content: space-around;
}
.d-x-end {
  justify-content: end;
}
.d-none {
  display: none !important;
}
.bgcolor-blue {
  background: var(--color-blue);
}
.bgcolor-red {
  background: var(--color-red);
}
.bgcolor-green {
  background: var(--color-green);
}
.bgcolor-yellow {
  background: var(--color-yellow);
}
.color-white {
  color: var(--color-white);
}
.color-222 {
  color: var(--color-222);
}
.h-min {
  min-height: 100vh;
}
.h-50-pc {
  height: 50%;
}
.bg-primary {
  background-color: var(--bgcolor-off-white);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%239C92AC' fill-opacity='0.24'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");  
}
.bg-white {
  background: var(--color-white);
}
.cr-pointer {
  cursor: pointer;
}
.txt-no-underline {
  text-decoration: none;
}
.tr-all {
  transition: all .1s ease-in;
}
/* Animations */
@keyframes bounce {
  70% { transform:translateY(0%); }
  80% { transform:translateY(-15%); }
  90% { transform:translateY(0%); }
  95% { transform:translateY(-7%); }
  97% { transform:translateY(0%); }
  99% { transform:translateY(-3%); }
  100% { transform:translateY(0); }
}
/* Button classes */
.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, var(--color-btn-gradient-start) 0, var(--color-btn-gradient-end) 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  min-height: 3rem;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding: 1rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}
.button:focus {
  box-shadow: var(--color-btn-boxshadow) 0 0 0 1.5px inset, 
  rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--color-btn-boxshadow) 0 -3px 0 inset;
}
.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, var(--color-btn-boxshadow) 0 -3px 0 inset;
  transform: translateY(-2px);
}
.button:active {
  box-shadow: var(--color-btn-boxshadow) 0 3px 7px inset;
  transform: translateY(2px);
}
.button[disabled] {
  box-shadow: var(--color-btn-boxshadow) 0 3px 7px inset;
  pointer-events: none;
  opacity: 0.7;
}

/* Component classes */
.header {
  background: var(--bgcolor-blue);
  color: var(--color-white);
  height: 70px;
  width: 100%;
}
.game-wrapper {
  background: var(--color-white);
  box-shadow: 0 0 0 5px var(--bgcolor-blue);
  width: 750px;
  height: 750px;
}
.game-house {
  height: 300px;
  position: absolute;
  width: 300px;
}
.game-house:nth-child(2) {
  right: 0;
}
.game-house:nth-child(3) {
  bottom: 0;
}
.game-house:nth-child(4) {
  right: 0;
  bottom: 0;
}
.token-container {
  background: var(--color-white);
  height: 200px;
  width: 200px;
}
.token {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.game-fort {
  background: transparent;
  height: 150px;
  left: 300px;
  position: absolute;
  top: 300px;
  width: 150px;
}
.game-fort::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 75px solid var(--color-red);
  border-right: 75px solid var(--color-green);
  border-bottom: 75px solid var(--color-yellow);
  border-left: 75px solid var(--color-blue);
}
/* Track to run tokens throughout the game */
.game-track {
  background: transparent;
  border: 2px solid var(--color-grey);
  position: absolute;
}
.game-track-left,
.game-track-right {
  height: 150px;
  top: 300px;
  width: 300px;
}
.game-track-right {
  right: 0;
}
.game-track.game-track-top,
.game-track.game-track-bottom {
  left: 300px;
  height: 300px;
  width: 150px;
}
.game-track.game-track-bottom {
  top: 450px;
}
/* Track lines to run tokens */
.track-line-h {
  border: 1px solid var(--color-grey);
  position: absolute;
  width: 100%;
  z-index: 100;
}
.track-line-h:nth-child(1) {
  top: 50px;
}
.track-line-h:nth-child(2) {
  top: 100px;
}
.track-line-h:nth-child(3) {
  top: 150px;
}
.track-line-h:nth-child(4) {
  top: 200px;
}
.track-line-h:nth-child(5) {
  top: 250px;
}
.track-line-v {
  border: 1px solid var(--color-grey);
  position: absolute;
  height: 100%;
  z-index: 100;
}
.track-line-v.track-line-1 {
  left: 50px;
}
.track-line-v.track-line-2 {
  left: 100px;
}
.track-line-v.track-line-3 {
  left: 150px;
}
.track-line-v.track-line-4 {
  left: 200px;
}
.track-line-v.track-line-5 {
  left: 250px;
}
/* Track dots for tokens */
.track-dots {
  height: 50px;
  position: absolute;
  width: 50px;
}
.game-track-left > .track-dots {
  left: 50px;
  box-shadow: 0 50px 0 var(--color-blue),
  50px 50px 0 var(--color-blue),
  100px 50px 0 var(--color-blue),
  150px 50px 0 var(--color-blue),
  200px 50px 0 var(--color-blue);
}
.game-track-right > .track-dots {
  top: 50px;
  box-shadow: 50px 0 0 var(--color-green),
  100px 0 0 var(--color-green),
  150px 0 0 var(--color-green),
  200px 0 0 var(--color-green),
  200px 50px 0 var(--color-green);
}
.game-track-top > .track-dots {
  left: 100px;
  top: 50px;
  box-shadow: -50px 0 0 var(--color-red),
  -50px 50px 0 var(--color-red),
  -50px 100px 0 var(--color-red),
  -50px 150px 0 var(--color-red),
  -50px 200px 0 var(--color-red);
}
.game-track-bottom > .track-dots {
  top: 200px;
  box-shadow: 50px 0 0 var(--color-yellow),
  50px -50px 0 var(--color-yellow),
  50px -100px 0 var(--color-yellow),
  50px -150px 0 var(--color-yellow),
  50px -200px 0 var(--color-yellow);
}
/* Track icons to assist token in their journey */
.track-icon,
.game-token {
  position: absolute;
  height: 50px;
  width: 50px;
}
.game-track-left > .track-star {
  left: 100px;
  top: 100px;
}
.game-track-right > .track-star {
  left: 150px;
}
.game-track-top > .track-star {
  top: 100px;
}
.game-track-bottom > .track-star {
  left: 100px;
  top: 150px;
}
.game-track-left > .track-arrow {
  top: 50px;
}
.game-track-right > .track-arrow {
  left: 250px;
  top: 50px;
}
.game-track-top > .track-arrow {
  left: 50px;
}
.game-track-bottom > .track-arrow {
  left: 50px;
  top: 250px;
}
.game-token {
  cursor: pointer;
  transition: all .25s ease-in;
  z-index: 10000;
}
.game-token > img {
  transition: all .25s ease-in;
}
.game-token:hover > img {
  transform: translateY(-5);
}
/** Blue Tokens **/
.game-token.game-token-blue-1 {
  left: 75px;
  top: 75px;
}
.game-token.game-token-blue-2 {
  left: 175px;
  top: 75px;
}
.game-token.game-token-blue-3 {
  left: 75px;
  top: 175px;
}
.game-token.game-token-blue-4 {
  left: 175px;
  top: 175px;
}
/** Red Tokens **/
.game-token.game-token-red-1 {
  left: 525px;
  top: 75px;
}
.game-token.game-token-red-2 {
  left: 625px;
  top: 75px;
}
.game-token.game-token-red-3 {
  left: 525px;
  top: 175px;
}
.game-token.game-token-red-4 {
  left: 625px;
  top: 175px;
}
/** Yellow Tokens **/
.game-token.game-token-yellow-1 {
  left: 75px;
  top: 525px;
}
.game-token.game-token-yellow-2 {
  left: 175px;
  top: 525px;
}
.game-token.game-token-yellow-3 {
  left: 75px;
  top: 625px;
}
.game-token.game-token-yellow-4 {
  left: 175px;
  top: 625px;
}
/** Green Tokens **/
.game-token.game-token-green-1 {
  left: 525px;
  top: 525px;
}
.game-token.game-token-green-2 {
  left: 625px;
  top: 525px;
}
.game-token.game-token-green-3 {
  left: 525px;
  top: 625px;
}
.game-token.game-token-green-4 {
  left: 625px;
  top: 625px;
}
/** Splash Screen **/
.image-hero > img {
  width: 500px;
  height: auto;
}
/* Color Selection */
.color-selection {
  box-shadow: 0 0 0 5px var(--bgcolor-blue);
}
.color-select {
  height: 35px;
  width: 35px;
}
.color-select > .color-select-check {
  display: inline-block;
  transform: rotate(45deg);
  height: 24px;
  width: 14px;
  border-bottom: 7px solid #78b13f;
  border-right: 7px solid #78b13f;
}
/* Checkbox toggle based on attribute selectors */
[data-flag="0"] > .color-select > .color-select-check {
  display: none !important;
}
[data-flag="1"] > .color-select > .color-select-check {
  display: inline-block !important;
}
.color-select.color-select-blue {
  box-shadow: 0 0 0 5px var(--color-blue);
}
.color-select-blue > .color-select-check {
  border-bottom-color: var(--color-blue);
  border-right-color: var(--color-blue);
}
.color-select.color-select-red {
  box-shadow: 0 0 0 5px var(--color-red);
}
.color-select-red > .color-select-check {
  border-bottom-color: var(--color-red);
  border-right-color: var(--color-red);
}
.color-select.color-select-green {
  box-shadow: 0 0 0 5px var(--color-green);
}
.color-select-green > .color-select-check {
  border-bottom-color: var(--color-green);
  border-right-color: var(--color-green);
}
.color-select.color-select-yellow {
  box-shadow: 0 0 0 5px var(--color-yellow);
}
.color-select-yellow > .color-select-check {
  border-bottom-color: var(--color-yellow);
  border-right-color: var(--color-yellow);
}
